.input-mini {
    width: 30px;
    height: 10px;

}

small.text-grey {
    line-height: 20px;
    color: #999999;
}

select {
    width: 65px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

#auction_info, #set_temp {
    border: 1px solid #ddd;
    padding: 0 3px 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}